# use a whitelist
*
!.gitignore


# thesis whitelist
!thesis
thesis/*
!sections
sections/*

!*.tex
!*.bib


# code whitelist
!code
code/*
!code/tests
code/tests/*
!code/glsxx
code/glsxx/*
!code/fem

!*.cc
!*.h
!*.glsl
!CMakeLists.txt

# data whitelist
!data
!data/*.txt

!README.md

# circleci
!.circleci
!.circleci/**