# use a whitelist
*
!.gitignore


# thesis whitelist
!thesis
thesis/*
!sections
sections/*

!*.tex
!*.bib


# code whitelist
!code
code/*
!code/tests
code/tests/*

!*.cc
!*.h
!CMakeLists.txt

# data whitelist
!data
!data/*.txt